<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Educationalsystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>U</servlet-name>
    <servlet-class>com.tengen.admin.servlet.Usersevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>U</servlet-name>
    <url-pattern>/usMrg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DP</servlet-name>
    <servlet-class>com.tengen.admin.servlet.Departsevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DP</servlet-name>
    <url-pattern>/dpartMrg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>D</servlet-name>
    <servlet-class>com.tengen.admin.servlet.DictMrgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>D</servlet-name>
    <url-pattern>/dictMrg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>V</servlet-name>
    <servlet-class>com.tengen.core.servlet.ValidLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>V</servlet-name>
    <url-pattern>/validMrg</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.tengen.core.listener.ApplicationListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>pacific_task_gradesServlet</servlet-name>
    <servlet-class>com.tengen.jiaoxue.servlet.pacific_task_gradesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pacific_task_gradesServlet</servlet-name>
    <url-pattern>/homework</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stage_test_gradesServlet</servlet-name>
    <servlet-class>com.tengen.jiaoxue.servlet.stage_test_gradesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stage_test_gradesServlet</servlet-name>
    <url-pattern>/stagetest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>commonalityInfoServlet</servlet-name>
    <servlet-class>com.tengen.commonalityInfo.servlet.commonalityInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commonalityInfoServlet</servlet-name>
    <url-pattern>/commonalityInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>recommendServlet</servlet-name>
    <servlet-class>com.tengen.jiaoxue.servlet.recommendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recommendServlet</servlet-name>
    <url-pattern>/recommend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttendanceServlet</servlet-name>
    <servlet-class>com.tengen.jiaowu.servlet.AttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceServlet</servlet-name>
    <url-pattern>/adMrg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisciplineServlet</servlet-name>
    <servlet-class>com.tengen.jiaowu.servlet.DisciplineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplineServlet</servlet-name>
    <url-pattern>/dpMrg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InterviewServlet</servlet-name>
    <servlet-class>com.tengen.jiaowu.servlet.InterviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterviewServlet</servlet-name>
    <url-pattern>/ivMrg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EvaluationServlet</servlet-name>
    <servlet-class>com.tengen.jiaowu.servlet.EvaluationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvaluationServlet</servlet-name>
    <url-pattern>/elMrg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClassServlet</servlet-name>
    <servlet-class>com.tengen.jiaowu.servlet.ClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassServlet</servlet-name>
    <url-pattern>/classMrg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ComprehensiveServlet</servlet-name>
    <servlet-class>com.tengen.jiaowu.servlet.ComprehensiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComprehensiveServlet</servlet-name>
    <url-pattern>/csMrg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SpecialServlet</servlet-name>
    <servlet-class>com.tengen.jiaowu.servlet.SpecialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecialServlet</servlet-name>
    <url-pattern>/spMrg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mock_Servlet</servlet-name>
    <servlet-class>com.tengen.jiuye.servlet.MockSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mock_Servlet</servlet-name>
    <url-pattern>/tsMrg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AcadeInfo_Sevlet</servlet-name>
    <servlet-class>com.tengen.jiuye.servlet.AcadeInfoSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcadeInfo_Sevlet</servlet-name>
    <url-pattern>/aiMrg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Employ_Sevlet</servlet-name>
    <servlet-class>com.tengen.jiuye.servlet.EmploySevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employ_Sevlet</servlet-name>
    <url-pattern>/EnMrg</url-pattern>
  </servlet-mapping>
<!--   <filter>
    <filter-name>FilterServlet</filter-name>
    <filter-class>com.tengen.core.servlet.FilterServlet</filter-class>
    <init-param>
      <param-name>logonStrings</param-name>
      <param-value>/project/Index.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>includeStrings</param-name>
      <param-value>.do;.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>redirectPath</param-name>
      <param-value>/home.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>disabletestfilter</param-name>
      <param-value>N</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FilterServlet</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->
</web-app>